form{
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: auto;
}
form .for-control{
    border:none;
}
form input,
form textarea,
form select{
    width:100%;
    height: 50px;
    background-color: #fff;
    border:1px solid var(--main-color=);
    padding: 10px;
    margin: 10px 0px;
    border-radius: 4px;
    color: #333;
    font-size: 17px;
    outline: none;
} 
form input:hover{
    border: 1px soild #565acf;
    transition: 2s ease-in-out;

}
form button{
    width: 100%;
    max-width: 100%;
    height: 50px;
    background-color: var(--btn-color) !important;
    border:1px solid var(--btn-color) !important;
}
form button:hover{
    background-color: transparent !important;
    color: var(--orange-color);
    transition: .3s ease-in-out;

}
